@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;700&display=swap');

header {
  display: grid;
  grid-template-areas: "hero"
                      "content";
  @media (min-width: 1024px) {
   grid-template-areas: "content hero";
  }                      
  .hero {
      grid-area: hero;
  }
  .content {
    grid-area: content;
  }
}



/* Component abstractions */


